<article class="post">
    <header class="post-header home">
      <div class="post-title"><h1>Articles</h1></div>
    </header>
  
    <div class="post-content">
        {%- if site.posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li class="post-list-item">
          <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
          {%- assign date_format = "%Y/%m/%d" -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <span class="post-date">{{ post.date | date: date_format }}</span>
          {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    </div>
  </article>